<mat-toolbar color="primary">
    <span>
    <a routerLink="" mat-button>
      <mat-icon>people</mat-icon> Clientes
    </a>
  </span>
    <app-autorizado>
        <ng-container autorizado>
            <div>
                <a mat-button routerLink="clientes">Clientes</a>
            </div>
        </ng-container>
    </app-autorizado>
    <div class="espacio"></div>
    <app-autorizado>
        <ng-container autorizado>
            <span>Hola, {{seguridadService.obtenerCampoJWT('email')}}</span>
            <a mat-button (click)="seguridadService.logout()">Logout</a>
        </ng-container>
        <ng-container noAutorizado>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="registro">Registro</a>
        </ng-container>
    </app-autorizado>
</mat-toolbar>